<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:lang="http://www.springframework.org/schema/lang"
        xmlns:jee="http://www.springframework.org/schema/jee"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                            http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.0.xsd
                            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd  
                            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
  <!-- 
  <context:component-scan base-package="kr.go.dnsm.*" />
  <context:load-time-weaver />
  <context:spring-configured />
   -->    
  <!-- 환경설정 -->
  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>WEB-INF/properties/config.properties</value>
        <value>WEB-INF/properties/message.properties</value>
      </list>
    </property>
  </bean>
  
  <!-- 파일업로드 관련 셋팅 -->
  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <property name="maxUploadSize" value="${upload.max.file.size}" />
    <property name="uploadTempDir" ref="uploadDirResource" />
  </bean>

  
  <bean id="uploadDirResource" class="org.springframework.core.io.FileSystemResource">
    <constructor-arg value="${upload.sys.temp.dir}" />
  </bean>
  
  <!-- 메세지 프로퍼티 설정 한국,미국 뭐 국제화 용인데 참 요긴하게응용한다 -->
  <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
    <property name="basenames">
      <list>
        <value>/WEB-INF/properties/config</value>
        <value>/WEB-INF/properties/message</value>
      </list>
    </property>
    <property name="cacheSeconds" value="5"></property>
  </bean>
  <bean id="messageSourceAccessor" class="org.springframework.context.support.MessageSourceAccessor">
    <constructor-arg ref="messageSource" />
  </bean>  
</beans>